body {
    background-color: #f5f5f5;
    text-align: center;
}

.white {
    background-color: white;
    color: rgb(18,18, 18);
    height: 200px;
    width: 40px;
    z-index: 2;
}

.black {
    background-color: rgb(18,18, 18);
    color: white;
    height: 150px;
    width: 36px;
    margin: 0px -18px 0px -18px;
    z-index: 3;
}

.key {
    box-shadow: 1px 2px 1px rgba(100, 100, 85, 0.5);
    border-radius: 2px 2px 4px 4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.active, .key:active {
    box-shadow: 1px 1px 1px rgba(100, 100, 85, 1);
    border: 3px fuchsia solid;
}

button:focus {
    outline: none;
}

.instrument {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

main {
    display:flex;
    justify-content: center;
    
}

canvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#title {
    position: relative;
    margin-top: 25px;
}

h1 {
    font-family: 'Stalinist One', cursive;
    margin: 0;
    color: rgb(18,18, 18);
    text-shadow: 1px 1px 1px white;
}